@import "../../theme/global.scss";

.booking-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 auto 2rem;
  border-radius: $border-radius;
  background-color: $bg-color;
  @extend %box-shadow;

  .form-heading {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1rem;
  }

  .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .field {
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 0.5rem 1rem;

      &.select {
        cursor: pointer;
      }
    }
  }

  .pickers-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @media (max-width: 495px) {
      flex-direction: column;
    }

    .icon {
      width: 25px;

      @media (max-width: 495px) {
        transform: rotate(90deg);
      }
    }
  }

  .btn {
    background-color: white;
    padding: 0.5rem 1rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    cursor: pointer;
  }

  .error {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 5px;
    color: red;
  }
}
