.datepicker-container {
  display: flex;
  position: relative;

  .datepicker-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .datepicker-toggle-button {
    position: absolute;
    right: 0;
    height: 100%;
  }

  .datepicker-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}
